// ------------------------------------
//  #settings
// ------------------------------------

$divider__color:  #333 !default;

$margin-top-range: 10;
$margin-right-range: 10;
$margin-bottom-range: 10;
$margin-left-range: 10;

$padding-top-range: 10;
$padding-rigt-range: 10;
$padding-bottom-range: 10;
$padding-left-range: 10;
