// ------------------------------------
//  #ALIGN
// ------------------------------------

.right {
  float: right;
}

.left {
  float: left;
}

%centered {
  margin-right: auto;
  margin-left: auto;
}

.centered {
  @extend %centered;
}
