// ------------------------------------
//  #CLEARFIX
// ------------------------------------

%clearfix {
  &::after {
    content: '';
    display: table;
    clear: both;
  }
}

.cf,
.clearfix {
  @extend %clearfix;
}
