// ------------------------------------
//  #DIVIDER
// ------------------------------------

.divider {
  height: 0.1rem;
  margin: 1rem 0;
  border-top: 0.1rem solid $border__color;
}

.divider[data-content]::after {
  content: attr(data-content);
  display: inline-block;
  position: relative;
  left: 50%;
  padding: 0 0.8rem;
  transform: translateY(-1.1rem);
  background: #fff;
  color: #333;
  font-size: 1.2rem;
}
