// ------------------------------------
//  #SHAPE
// ------------------------------------

.rounded {
  border-radius: 0.3rem;
}

.rounded-none {
  border-radius: 0;
}

.circle {
  border-radius: 50%;
}
